@import "components/reset";
@import "components/chat/chat_ui";
@import "components/dashboard/dashboard";
@import "components/table/view";

.not_active {
  visibility: hidden;
  cursor: unset;
  pointer-events: none;
}
